.promisebox {
    width: 750px;
    margin: 5px auto;
    height: auto;
    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 250px 230px 210px;
    grid-template-rows: 80px 200px 40px 160px 40px;

}
.pcate {
    display : inline-block;
    border : none;
    box-shadow: 0 0 5px 0 #bcbcbc;
    border-radius: 10px;
    font-size: 16px;
}
.pgend {
    display : inline-block;
    border : none;
    box-shadow: 0 0 5px 0 #bcbcbc;
    border-radius: 10px
}
.pdate {
    display : inline-block;
    border : none;
    box-shadow: 0 0 5px 0 #bcbcbc;
    border-radius: 10px
}

.pplace{
    grid-column: 1/span 3;
    grid-row: 2/3;
}

.ptitle{
    border: 1px solid;
    grid-column: 1/span 2;
    display : inline-block;
    border : none;
    box-shadow: 0 0 5px 0 #bcbcbc;
    border-radius: 10px
}
.ppnum{
    border: 1px solid;
    grid-column: 3/4;
    display : inline-block;
    border : none;
    box-shadow: 0 0 5px 0 #bcbcbc;
    border-radius: 10px;
    padding: 3px;
}
.pcont {
    grid-column: 1/span 3;
}
.pbutton{
    grid-column: 3/4;
    margin-left: 50px;
}