.box {
    height: 500px;
    width: 600px;
    margin: 0 auto;
}
hr{
    border-bottom: black;
    width:250px;
    margin: 20px auto;
}
.maintext {
    text-align: center;
    font-size: 18px;
    color: #696969;
    
}
.SB {
    width: 400px;
    height: 85px;
    margin: 25px auto;
    background-color:rgb(193, 225, 164);
    opacity: 0.9;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 5px 0 #bcbcbc;
} 

.search {
    position: absolute;
    width: 300px;
    height: 40px;
    top : 20%;
    left: 5%;
    border: 1px solid;
    border-radius: 15px;
    background-color: white;
}
.searchb {
    position: absolute;
    width: 40px;
    height: 40px;
    top : 20%;
    right: 7%;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.searcht {
    position: absolute;
    font-size: 11px;
    color: black;
    bottom: 10%;
    left: 8%;
}


